.docs-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #676666;
    width: 100vw;
    text-align: center;
    border-bottom: 1px solid #676666;
}

button {
    width: 200px;
    height: 40px;
    background-color: rgb(238, 211, 6);
    border: none;
}
button:hover {
    background-color:  rgb(215, 191, 5);
}
button:active {
    box-shadow: 0px 0px 2px;
}

.display-list {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

h6 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    margin: 15px;
    font-size: 17px;
    padding:17px;
    padding-top: 15px;
    width: 220px;
    height: 50px;
    color: white;
    background-color: #676666;cursor: pointer;

    
}
.descript {
    line-height: 16px;
    letter-spacing: 1px;
    font-style: italic;
    font-weight: 1000;
    font-size: 12px;
}